<html>

  <head>

    </head>
     
    <body class="bg" >

       
      <br/><br/>
      <br/><br/>


      <div class="container" > 
        <br/>  <br/>
        <div class="well well-lg">
            <div class="row">
                <div class="col-sm-6">
                    <img src="http://i.imgur.com/E2y8UWI.jpg" class="img-rounded"  height="300" width="250" >
                </div>
                <div class="col-sm-6">
                    <table class="table">
                        <tr>
                            <!-- <td><h2 align="center">{{rname}} </h2></td> -->
                            <td><h2>Michael Smith </h2></td>
                        </tr>   
                        <tr>
                            <td><p><b>Ratings:</b></p></td>
                            <td><p>&#9733;&#9733;&#9733; &#9733;  &#9734; </p></td>                      
                        </tr>   
                        <tr>    
                            <td><p><b>Bio: </b></p></td>
                            <td><p>Michael Dixon Smith is an American-born chef and writer now residing in Prince Edward Island, Canada, host of The Inn Chef, Chef at Home, Chef at Large, Chef Michael's Kitchen, Chef Abroad, and Chopped: Canada.</p></td>
                          </tr> 
                      </table>
                </div>
            </div>   
          </div>    

      </div>
      <br/>
      <br/>
    <script src="/script.js"></script>
      </body>
  </html>






