<html>
    
  <head>

    </head>
     <body>
    <div class="bg" >


          <router-outlet></router-outlet> 
      <br/><br/>
      <br/><br/>

     
      <div class="container" >
          
          <br/>
          <h3 align="center">Top Recipes</h3>
          
          <br/>
              <!-- <div *ngFor="let result of recipelist; let i = index">
                  <li> <a [routerLink]="['/getRecipe/', result.rrecipeId]">{{i+1}} - {{result.rname}}</a> </li>
                  <p> {{result.rdescription}}</p>
                </div> -->
          
          </div>
      <br/>
      <br/>
    <script src="/script.js"></script>
    </div>
      </body>
  </html>
    
      