<html>
    
  <head>

    </head>
     <body>
    <div class="bg" >
      <br/><br/>
      <br/><br/>
      <div class="row">
        <div class="container">
          <p align="center">Cooking Crackers</p>
        </div>
      </div>
      <br/><br/><br/><br/><br/>
      <div class="row">
        <div class="col-sm-6">
          <div class="container" >
            <br/>
            <h3 align="center">Hungry!!</h3>          
            <br/>
                <div class="well well-lg">
                    <div class="row">
                        <div *ngFor="let result of recipelist; let i = index">
                            <div *ngIf="i<4">
                        <div class="col-sm-6">
                          <img src={{result.rimage}} class="img-circle" alt="Image" width="140" height="110">
                            
                        </div>
                        <div class="col-sm-6">   
                            <a align= "centre" [routerLink]="['/getRecipe/', result.rrecipeId]"> {{result.rname}}</a><br>
                            <h5> {{result.rdescription}}</h5>
                            <br/><br/><br/>
                        </div>
                        <br/><br/><br/>
                      </div>
                      </div>
                    </div>                 
               </div>
              
            
            
          </div>
        </div>
        <div class="col-sm-6">
          <div class="container" >
            <br/>
            <h3 align="center">Login</h3>          
            <br/>
            <div align="center">
                <div>
                  <a [routerLink]="['/login/', 1]" class="btn btn-info" role="button">Sign In</a>
                </div><br/>
                <br/><br/>
                <div>
                  <a [routerLink]="['/login/', 2]" class="btn btn-info" role="button">Sign Up</a>
                </div><br/>
                <br/><br/>
                <div>
                  <a [routerLink]="['/login/', 3]" class="btn btn-info" role="button">Login with Google</a>
                </div>
                <br/><br/>
          </div>
            
          </div>
        </div>
      </div>
      <br/>
      <br/>
    <script src="/script.js"></script>
    </div>
      </body>
  </html>
    
      