<html>

  <head>

    </head>
     
    <body class="bg">

      <br/><br/>
      <br/><br/>


      <div class="container" >
          
              <!-- <div class="panel panel-default">  -->
      <form (ngSubmit)="onSubmit()">
          
      <div>
          
          <div>   
            <h3 align="center">Add Recipe</h3>     
          <ul>
            <li>
                <label style ="font-weight: bold;">Recipe Name:</label>
                <input type="text" class="form-control" placeholder="recipe name" [(ngModel)]="rname" name ="rname">    
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Duration:</label>
                <input type="text" class="form-control" placeholder="Duration" [(ngModel)]="rduration" name ="rduration">
                  
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Ingredients:</label>
                <input type="text" class="form-control" placeholder="ingredients" [(ngModel)]="ringredients" name ="ringredients">
                   
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Method:</label>
                <input type="text" class="form-control" placeholder="method" [(ngModel)]="rmethod" name ="rmethod">
                   
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Description:</label>
                <input type="text" class="form-control" placeholder="description" [(ngModel)]="rdescription" name ="rdescription">
                   
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Chef ID:</label>
                <input type="text" class="form-control" placeholder="chefid" [(ngModel)]="rchefid" name ="rchefid">
                   
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Image:</label>
                <input type="text" class="form-control" placeholder="Image" [(ngModel)]="rimage" name ="rimage">
                   
            </li>
            <br/>
            
            <li>
                <label style ="font-weight: bold;">Meal Type:</label>
                <select class="form-control " placeholder="mealtype" [(ngModel)]="rmealtype" name ="rmealtype">
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Midnight Snacks">Midnight Snacks</option>
                  <option value="Desserts">Desserts</option>
                </select>
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Cuisine Type:</label>
                <select class="form-control " placeholder="cuisinetype" [(ngModel)]="rcuisinetype" name ="rcuisinetype">
                  <option value="Indian">Indian</option>
                  <option value="Italian">Italian</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Mediterrian">Mediterrian</option>
                  <option value="American">American</option>
                </select>
            </li>
            <br/>
            <li>
              <label style ="font-weight: bold;">Meal Preference:</label>
              <select class="form-control " placeholder="mealpreference" [(ngModel)]="rmealpreference" name ="rmealpreference">
                <option value="Diabetic">Diabetic</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="NonVegetarian">NonVegetarian</option>
                <option value="Gluten Free">Gluten Free</option>
              </select>
            </li>
           
          </ul>
        </div> 
        </div>
        <br/>
        
        <input type="submit" class="btn btn-warning center-block" Value="Upload Recipe"/>
      </form>
      <br/>
      </div>
      <br/>
      <br/>
    <script src="/script.js"></script>
      </body>
  </html>