<html>
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="backImage">
      <div class="navbar">
        <a href="#home">Home</a>
        
      
        <div class="dropdown">
          <button class="dropbtn">Manage Recipes 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/Users/rutubhatt/Documents/GitHub/CookingCrackers1/RecipeExpressServer/RecipeAngular/src/app/chefprofile/addrecipe/addrecipe.component.html">Add recipe</a>
            <a href="/Users/rutubhatt/Documents/GitHub/CookingCrackers1/RecipeExpressServer/RecipeAngular/src/app/chefprofile/updaterecipe/updaterecipe.component.html">Update Recipe</a>
            <a href="/Users/rutubhatt/Documents/GitHub/CookingCrackers1/RecipeExpressServer/RecipeAngular/src/app/chefprofile/deleterecipe/deleterecipe.component.html">Delete Recipe</a>
          </div>
        </div> 
      
        <a href="#profile">Profile</a>
      <a href="#about">About</a>
          <a href="#contactus">Contact Us</a>
      </div>
      <br/><br/>
      <!-- <div class = "heading1"> -->
        <!-- <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px; background-color:white; border-radius: 5px;">
          <label id='lname' style ="font-weight: bold;">Recipe Name</label>&nbsp;&nbsp;
          <textarea id='name' title="Enter name here.."></textarea><br/>
        </div>
        <br/>
        <br/>
        <br/>
        &nbsp;
          <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px; background-color:white; border-radius: 5px;">
            <label id='lduration' style ="font-weight: bold;">Duration</label>&nbsp;&nbsp;
            <textarea id='duration' title="Enter duration here.."></textarea><br/>
          </div>
          <br/>
          <br/>
          <br/>
          &nbsp;
          <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px;  background-color:white; border-radius: 5px;">
           <label id='lingredients' style ="font-weight: bold;" >Ingredients</label>&nbsp;&nbsp;
           <textarea id='ingredients' title="Enter ingredients here.." style="width: 200px; height: 200px;"></textarea><br/>
          </div>
          &nbsp; -->
      <!-- </div> -->
      <form>
      <div>
          
          <div style="display: inline-block; background-color:white;">
            <h3>Add Recipe</h3>     
          <ul>
            <li>
                <label style ="font-weight: bold;">Recipe Name:</label>
                <input type="text" class="form-control" id="name">    
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Duration:</label>
                <input type="text" class="form-control" id="duration">
                  
            </li>
            <br/>
            <li>
                <label style ="font-weight: bold;">Ingredients:</label>
                <textarea class="form-control" rows="5" id="ingredients"></textarea>
                   
            </li>
          </ul>
        </div> 
        </div>
        <br/>
        <br/>
        <br/>
      </form>
    </div>
      </body>
  </html>