.bg { 
  background-image: url("http://kochihermosabeach.com/images/img02.jpg");
  height: fit-content; 
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  } 

.container {
  background-color: rgba(253, 246, 246, 0.838);
  width: 60%;
}
