<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Cooking Crackers</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li><a href="#">Favorite Recipe</a></li> -->
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cuisine Type<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/cuisinetype/', 'Indian']">Indian</a></li>
          <li><a [routerLink]="['/cuisinetype/', 'Thai']">Thai</a></li>
          <li><a [routerLink]="['/cuisinetype/', 'Italian']">Italian</a></li>
          <li><a [routerLink]="['/cuisinetype/', 'American']">American</a></li>
          <li><a [routerLink]="['/cuisinetype/', 'Chinese']">Chinese</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Meal Preference<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/mealpreference/', 'Diabetic']">Diabetic</a></li>
          <li><a [routerLink]="['/mealpreference/', 'Vegetarian']">Vegetarian</a></li>
          <li><a [routerLink]="['/mealpreference/', 'GlutenFree']">GlutenFree</a></li>
          <li><a [routerLink]="['/mealpreference/', 'NonVegetarian']">NonVegetarian</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Meal Type<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/mealtype/', 'Breakfast']">Breakfast</a></li>
          <li><a [routerLink]="['/mealtype/', 'Lunch']">Lunch</a></li>
          <li><a [routerLink]="['/mealtype/', 'Dinner']">Dinner</a></li>
          <li><a [routerLink]="['/mealtype/', 'MidnightSnacks']">MidnightSnacks</a></li>
          <li><a [routerLink]="['/mealtype/', 'Desserts']">Desserts</a></li>
        </ul>
      </li>
      <!-- <li><a  class="nav-link" routerLink="chef">CHome</a></li> -->
                <li><a class="nav-link" routerLink="chefprofilebio">Profile</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Recipe<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a [routerLink]="['/addrecipe/']">Add Recipe</a></li>
                    <!-- <li><a [routerLink]="['/chef/']">Select Recipe to Update</a></li> -->
                    <li><a [routerLink]="['/chef/']">Select Recipe to Delete</a></li>
                  </ul>
                </li>
      <li><a class="nav-link" routerLink="aboutus">About Us</a></li>
      <li><a class="nav-link" routerLink="allrecipes">All Recipes</a></li>
<!--       <li><a class="nav-link" routerLink="chef">Chef</a></li> -->

    </ul>
  </div>
</nav>