<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cooking Crackers</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a  [routerLink]="['/']">Home</a></li>
      <li><a href="#">Favorite Recipe</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Cuisine Type<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Indian</a></li>
          <li><a href="#">Thai</a></li>
          <li><a href="#">Italian</a></li>
          <li><a href="#">American</a></li>
          <li><a href="#">Chinese</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Meal Preference<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Diabetic</a></li>
          <li><a href="#">Vegetarian</a></li>
          <li><a href="#">Gluten Free</a></li>
          <li><a href="#">Non Vegetarian</a></li>
        </ul>
      </li>
      <li><a href="#">About Us</a></li>
      <li><a class="nav-link" routerLink="allrecipes">All Recipes</a></li>
      <li><a class="nav-link" routerLink="chef">Chef</a></li>

    </ul>
  </div>
</nav>