<html>
  <head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="bg">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Cooking Crackers</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a  [routerLink]="['/']">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Recipe<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a [routerLink]="['/addrecipe/']">Add Recipe</a></li>
                    <li><a href="/Users/rutubhatt/Documents/GitHub/CookingCrackers1/RecipeExpressServer/RecipeAngular/src/app/chefprofile/updaterecipe/updaterecipe.component.html">Update Recipe</a></li>
                    <li><a href="/Users/rutubhatt/Documents/GitHub/CookingCrackers1/RecipeExpressServer/RecipeAngular/src/app/chefprofile/deleterecipe/deleterecipe.component.html">Delete Recipe</a></li>
                  </ul>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a class="nav-link" routerLink="allrecipes">All Recipes</a></li>
                <li><a class="nav-link" routerLink="chef">Chef</a></li>
              </ul>
            </div>
          </nav>
          <router-outlet></router-outlet>
      <br/><br/>
      <br/><br/>
      <div class="container" >
          
          <br/>
          <h3 align="center">Recipes</h3>
          
          <br/>
          <div class="row">
              <div class="col-md-4">
                  <img  src="https://www.ndtv.com/cooks/images/poha.000.jpg" height="150" width="170"/><br/>
                  <label id='poha' class='button'>Poha</label>
              </div>
              <div class="col-md-4">
                  <img src="https://i.ytimg.com/vi/cZrtV2gqNTQ/maxresdefault.jpg" height="150" width="170"/><br/>
                  <label id='upma' class='button'>Upma</label>
              </div>
              <div class="col-md-4">
                  <img src="https://img.taste.com.au/Mt6nUOXU/w720-h480-cfill-q80/taste/2016/11/souffle-omelette-94592-1.jpeg" height="150" width="170"/><br/>
            <label id='omlette' class='button'>Omlette</label>
                </div>
            </div>
          </div>

<!--       <div class = "heading1">
        <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px; background-color:white; border-radius: 10px;">
          <img class="button" src="https://www.ndtv.com/cooks/images/poha.000.jpg"/><br/>
          <label id='poha' class='button'>Poha</label>&nbsp;
          <h2 style="font-size: 15px;">Description:</h2>
        </div>
        &nbsp;
          <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px; background-color:white; border-radius: 10px;">
            <img class='button' src="https://i.ytimg.com/vi/cZrtV2gqNTQ/maxresdefault.jpg"/><br/>
            <label id='upma' class='button'>Upma</label>&nbsp;
            <h2 style="font-size: 15px;">Description:</h2>
          </div>
          &nbsp;
          <div style="display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size:12px;  background-color:white; border-radius: 10px;">
            <img class='button' src="https://img.taste.com.au/Mt6nUOXU/w720-h480-cfill-q80/taste/2016/11/souffle-omelette-94592-1.jpeg"/><br/>
            <label id='omlette' class='button'>Omlette</label>&nbsp;
            <h2 style="font-size: 15px;">Description:</h2>
          </div>
          &nbsp;
      </div> -->


      <br/>
      <br/>
      <br/>
    </div>
      </body>
  </html>