<html>

  <head>

    </head>
     
    <body class="bg" >


         
      <br/><br/>
      <br/><br/>


      <div class="container" >
          
      <br/>
      
      <br/>
      <div class="panel panel-default"> 

          <div class="row">
            <h2 align="center">{{rname}} </h2>
          </div>
          <div class="panel-body ml-1">
              <!-- <p>Recipe ID: {{rrecipeId}} </p>
              <p>Recipe Name: {{rname}} </p> -->
              <p><i>Recipe Description: </i> {{rdescription}} </p>
              <img src={{rimage}} height="250" width="300" >
              <p><i>Recipe Method: </i> {{rmethod}} </p>
              <p><i>Recipe Cuisine Type: </i> {{rcuisinetype}} </p>
              <p><i>Recipe Preference: </i> {{rmealpreference}} </p>
              <p><i>Recipe Ingredients: </i>{{ringredients}} </p>
              <p><i>Recipe Duration: </i> {{rduration}} </p>
              <!-- <p>Recipe Rating: {{rating}} </p> -->
            </div>
            </div>


      
      </div>
      <br/>
      <br/>
    <script src="/script.js"></script>
      </body>
  </html>




<!-- <p>
  all-recipe works!
</p>
<p>Hello</p>
<div *ngFor="let result of recipelist; let i = index">
  <li> <a [routerLink]="['/getRecipe/', result.rrecipeId]">{{i+1}} - {{result.rname}}</a> </li>
  <p> {{result.rdescription}}</p>
</div> -->





