<html>
    
  <head>
    </head>
     <body>
    <div class="bg" >
      <br/><br/>
      <br/><br/>
        <div class="container" >
              <br/>
              <div *ngIf="logintype == '1'">
                  <h3 align="center" >Sign In</h3>
                  <br/>
                  <form (ngSubmit)="onSubmitsignin()">
                      <div>
                          <div>
                                <label style ="font-weight: bold;">Username:</label>
                                <input type="email" class="form-control" placeholder="email" [(ngModel)]="username" name ="username">    
                          </div>
                            <br/>
                            <div>
                                <label style ="font-weight: bold;">Password:</label>
                                <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" name ="password">
                                  
                            </div>
                            <br/>
                          
                        </div>
                        <br/>
                        <input type="submit" class="btn btn-warning center-block" Value="Sign In"/>
                      </form>
                </div>

                <div *ngIf="logintype == '2'">
                    <h3 align="center" >Sign Up</h3>          
                    <br/>
                    <form (ngSubmit)="onSubmitsigniup()">
                        <div>
                            <div>
                                <label style ="font-weight: bold;">First Name:</label>
                                <input type="text" class="form-control" placeholder="firstname" [(ngModel)]="firstName" name ="firstName">    
                          </div>
                            <br/>
                            <div>
                                <label style ="font-weight: bold;">Last Name</label>
                                <input type="text" class="form-control" placeholder="lastname" [(ngModel)]="lastName" name ="lastName">
                                  
                            </div>
                            <br/>
                            <div>
                                  <label style ="font-weight: bold;">Username:</label>
                                  <input type="email" class="form-control" placeholder="email" [(ngModel)]="username" name ="username">    
                            </div>
                              <br/>
                              <div>
                                  <label style ="font-weight: bold;">Password:</label>
                                  <input type="password" class="form-control" placeholder="password" [(ngModel)]="password" name ="password">
                                    
                              </div>
                              <br/>
                              <!-- <div>
                                <label style ="font-weight: bold;">Is Chef:</label>
                                <option type="isChef" class="form-control" placeholder="isChef" [(ngModel)]="isChef" name ="isChef">
                                  
                            </div>
                            <br/> -->
                            
                          </div>
                          <br/>
                          <input type="submit" class="btn btn-warning center-block" Value="Sign Up"/>
                        </form>


                </div>
                <div *ngIf="logintype == '3'">
                  <h3 align="center">Login with google</h3>          
                  <br/>
                  <form (ngSubmit)="onGoogleLogin()">
                  <div id="hreflink">

                      <!-- <a class="btn btn-warning center-block">Login with Google</a> -->
                      <input type="submit" class="btn btn-warning center-block" Value="Sign In With Google"/>

                      </div>  
                    </form>
                </div>
                <br/><br/>
                <div id="test2" align= "center">
                   <a [routerLink]="['/']" class="btn btn-info" role="button">Go Back</a>
                </div> 
                <br/><br/>
                <!-- <div> 
                <h2>{{logintype}}</h2>
                </div> -->
        
       </div>

      <br/>
      <br/>
    <!-- <script src="/script.js"></script> -->
    </div>
      </body>
  </html>
    





