.bg { 
    background-image: url("http://kochihermosabeach.com/images/img02.jpg");
    height: fit-content; 
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } 
    .navbar {
        overflow:visible;
        background-color: #333;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .navbar a {
        float: left;
        font-size: 16px;
        color: #faf9f8;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    } 
   
    .button {
        font-weight: bold;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #333;
        Color:white;
        border-radius: 12px;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .heading1{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    } 

.dropdown .dropbtn {
font-size: 16px;    
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover{
background-color: #ff6600 !important;
}
.container {
    background-color: rgba(253, 246, 246, 0.838);
    width: 60%;
  }
.dropdown-menu a {
    float: none;
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input {display:none;}
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #ff6600;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #ff6600;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }