.bg { 
    background-image: url("http://kochihermosabeach.com/images/img02.jpg");
    height: 100%; 
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } 
