.bg { 
    background-image: url("http://kochihermosabeach.com/images/img02.jpg");
    height: 100%; 
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    } 

.container {
    background-color: rgba(253, 246, 246, 0.838);
    width: 60%;
  }
  .well h2{
    font-weight: bold;
    color: #ff6600;    
  }
  .well p{
    color: black;
  }
  .table a{

    color: crimson;
    font-size: large;
    font-weight: bold;
  }

